<ul>
<li id="fn:disclaimer">
<p>Disclosure: This post includes affiliate links to books I endorse. Should you choose to make a purchase through these links, I may earn a commission at no extra cost to you. Rest assured, I recommend only those books I've personally read and found valuable.&nbsp;<a class="footnote-backref" href="#fnref:disclaimer" title="Jump back to the text">↩</a></p>
</li>
</ul>